<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<typeAliases>
	<typeAlias type="com.lgp.test.pojo.UserInfo" alias="UserInfo"/>
</typeAliases>

<mappers>
	<mapper resource="com/lgp/test/dao/UserMapper.xml"/>
</mappers>

</configuration>