<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration scan="true">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoding>${logback.charset:UTF-8}</encoding>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
		<filter class="com.cdv.common.misc.logger.LevelRangeFilter">
			<levelMax>INFO</levelMax>
		</filter>
	</appender>

	<appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<encoding>${logback.charset:UTF-8}</encoding>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</layout>
		<filter class="com.cdv.common.misc.logger.LevelRangeFilter">
			<levelMin>WARN</levelMin>
		</filter>
	</appender>

	<appender name="RollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
		<!-- 可让每天产生一个日志文件，最多 10 个，自动回滚 <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
			<fileNamePattern>${app.home}/logs/transcode-agent-%d{yyyy-MM-dd}.log </fileNamePattern> 
			<maxHistory>10</maxHistory> </rollingPolicy> -->

		<!-- 下面这段注释的代码可以在日志文件超过 10MB 时进行归档，并且归档文件后缀只要是 .zip 或 .gz 就会自动压缩日志归档 -->
		<file>${app.home}/logs/sphere-agent.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>${app.home}/logs/editor_p.%i.log.zip
			</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>7</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>50MB</maxFileSize>
		</triggeringPolicy>

		<encoder>
			<pattern><![CDATA[%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger -
	%msg%n]]></pattern>
		</encoder>
	</appender>
	<logger name="com.cdv" level="DEBUG" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="STDERR" />

		<appender-ref ref="RollingFile" />
	</root>
</configuration>